/* Global Styles */

body {
	margin:0px;
	}
	
td {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color:#003366;
	}
	
a {
	color: #EA0030;
	font-weight:bold;
	}
	
a:hover {
	color: #3366CC;
	}

/* ID Styles */

#navigation td {
	border-bottom: 2px solid #C0DFFD;
	}
	
#navigation a {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	display:block;
	padding:8px 6px 10px 26px;
	background: url("images/mm_arrow.gif") 14px 45% no-repeat;
	}
	
#navigation a:hover {
	background: #ffffff url("images/mm_arrow.gif") 14px 45% no-repeat;
	color:#FF6600;
	}
	
#logo 	{
	font:24px Verdana, Arial, Helvetica, sans-serif;
	color: #CCFF99;
	letter-spacing:.2em;
	line-height:30px;
	}

#tagline 	{	
	font:12px Verdana, Arial, Helvetica, sans-serif;
	color: #FF9933;
	letter-spacing:.4em;
	line-height:18px;
	}

#monthformat {
	border-bottom: 2px solid #E6F3FF;
		}
		
#dateformat {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	letter-spacing:.2em;
	}
	
#dateformat a {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	font-weight:bold;
	letter-spacing:.1em;
	}
	
#dateformat a:hover {
	color: #FF6600;
	letter-spacing:.1em;
	}
	
/* Class Styles */
	
.bodyText {
	font:12px Verdana, Arial, Helvetica, sans-serif;
	color:#003366;
	line-height:20px;
	margin-top:0px;
	}
.bodyTextCenter {
	font:12px Verdana, Arial, Helvetica, sans-serif;
	color:#003366;
	line-height:20px;
	margin-top:0px;
	text-align: center;
}
	
.pageName{
	font: 18px Verdana, Arial, Helvetica, sans-serif;
	color: #3366CC;
	line-height:24px;
	letter-spacing:.2em;
	}
	
.subHeader {
	font:bold 10px Verdana, Arial, Helvetica, sans-serif;
	color: #3366CC;
	line-height:16px;
	letter-spacing:.2em;
	}

.quote {
	color: #003366;
	line-height:30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	}
	
.smallText {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	}
	
.navText {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	}
	
.aboutus {
	color: #000000;
	line-height:26px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}
.iAgree {
	color: #000000;
	line-height:26px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.services {
	color: #000000;
	line-height:20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}
.servicesBullet {
	color: #000000;
	line-height:normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-left: 50px;
	list-style-position: inside;
	list-style-type: disc;
	display: list-item;
}

.roundedcornr_box_438149 {
   background: #d2e0f2;
}
.roundedcornr_top_438149 div {
   background: url(images/roundedcornr_438149_tl.png) no-repeat top left;
}
.roundedcornr_top_438149 {
   background: url(images/roundedcornr_438149_tr.png) no-repeat top right;
}
.roundedcornr_bottom_438149 div {
   background: url(images/roundedcornr_438149_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_438149 {
   background: url(images/roundedcornr_438149_br.png) no-repeat bottom right;
}

.roundedcornr_top_438149 div, .roundedcornr_top_438149, 
.roundedcornr_bottom_438149 div, .roundedcornr_bottom_438149 {
   width: 100%;
   height: 20px;
   font-size: 1px;
}
.roundedcornr_content_438149 { margin: 0 20px; }

.roundedcornr_box_709003 {
   background: #ffdd99;
}
.roundedcornr_top_709003 div {
   background: url(images/roundedcornr_709003_tl.png) no-repeat top left;
}
.roundedcornr_top_709003 {
   background: url(images/roundedcornr_709003_tr.png) no-repeat top right;
}
.roundedcornr_bottom_709003 div {
   background: url(images/roundedcornr_709003_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_709003 {
   background: url(images/roundedcornr_709003_br.png) no-repeat bottom right;
}

.roundedcornr_top_709003 div, .roundedcornr_top_709003, 
.roundedcornr_bottom_709003 div, .roundedcornr_bottom_709003 {
   width: 100%;
   height: 20px;
   font-size: 1px;
}
.roundedcornr_content_709003 { margin: 0 20px; }

.roundedcornr_box_789801 {
   background: #66ee88;
}
.roundedcornr_top_789801 div {
   background: url(images/roundedcornr_789801_tl.png) no-repeat top left;
}
.roundedcornr_top_789801 {
   background: url(images/roundedcornr_789801_tr.png) no-repeat top right;
}
.roundedcornr_bottom_789801 div {
   background: url(images/roundedcornr_789801_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_789801 {
   background: url(images/roundedcornr_789801_br.png) no-repeat bottom right;
}

.roundedcornr_top_789801 div, .roundedcornr_top_789801, 
.roundedcornr_bottom_789801 div, .roundedcornr_bottom_789801 {
   width: 100%;
   height: 20px;
   font-size: 1px;
}
.roundedcornr_content_789801 { margin: 0 20px; }

.roundedcornr_box_683860 {
   background: #ffff99;
}
.roundedcornr_top_683860 div {
   background: url(images/roundedcornr_683860_tl.png) no-repeat top left;
}
.roundedcornr_top_683860 {
   background: url(images/roundedcornr_683860_tr.png) no-repeat top right;
}
.roundedcornr_bottom_683860 div {
   background: url(images/roundedcornr_683860_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_683860 {
   background: url(images/roundedcornr_683860_br.png) no-repeat bottom right;
}

.roundedcornr_top_683860 div, .roundedcornr_top_683860, 
.roundedcornr_bottom_683860 div, .roundedcornr_bottom_683860 {
   width: 100%;
   height: 20px;
   font-size: 1px;
}
.roundedcornr_content_683860 { margin: 0 20px; }

.roundedcornr_box_493714 {
	background: url(images/roundedcornr_493714_tl.png) no-repeat top left;
}
.roundedcornr_top_493714 {
	background: url(images/roundedcornr_493714_tr.png) no-repeat top right;
}
.roundedcornr_bottom_493714 {
	background: url(images/roundedcornr_493714_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_493714 div {
	background: url(images/roundedcornr_493714_br.png) no-repeat bottom right;
}
.roundedcornr_content_493714 {
	background: url(images/roundedcornr_493714_r.png) top right repeat-y;
}

.roundedcornr_top_493714 div,.roundedcornr_top_493714,
.roundedcornr_bottom_493714 div, .roundedcornr_bottom_493714 {
	width: 100%;
	height: 20px;
	font-size: 1px;
}
.roundedcornr_content_493714, .roundedcornr_bottom_493714 {
	margin-top: -19px;
}
.roundedcornr_content_493714 { padding: 0 20px; }

.roundedcornr_box_386810 {
	background: url(images/roundedcornr_386810_tl.png) no-repeat top left;
}
.roundedcornr_top_386810 {
	background: url(images/roundedcornr_386810_tr.png) no-repeat top right;
}
.roundedcornr_bottom_386810 {
	background: url(images/roundedcornr_386810_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_386810 div {
	background: url(images/roundedcornr_386810_br.png) no-repeat bottom right;
}
.roundedcornr_content_386810 {
	background: url(images/roundedcornr_386810_r.png) top right repeat-y;
}

.roundedcornr_top_386810 div,.roundedcornr_top_386810,
.roundedcornr_bottom_386810 div, .roundedcornr_bottom_386810 {
	width: 100%;
	height: 20px;
	font-size: 1px;
}
.roundedcornr_content_386810, .roundedcornr_bottom_386810 {
	margin-top: -19px;
}
.roundedcornr_content_386810 { padding: 0 20px; }

.roundedcornr_box_400625 {
   background: #cccccc;
}
.roundedcornr_top_400625 div {
   background: url(images/roundedcornr_400625_tl.png) no-repeat top left;
}
.roundedcornr_top_400625 {
   background: url(images/roundedcornr_400625_tr.png) no-repeat top right;
}
.roundedcornr_bottom_400625 div {
   background: url(images/roundedcornr_400625_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_400625 {
   background: url(images/roundedcornr_400625_br.png) no-repeat bottom right;
}

.roundedcornr_top_400625 div, .roundedcornr_top_400625, 
.roundedcornr_bottom_400625 div, .roundedcornr_bottom_400625 {
   width: 100%;
   height: 30px;
   font-size: 1px;
}
.roundedcornr_content_400625 { margin: 0 30px; }

.boxed {
	padding: 5px;
	width: 100%;
	background-color: #EEEEEE;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}

tr.list:nth-child(6n+2)    { background-color:#fff; }
tr.list:nth-child(6n+3)    { background-color:#fff; }
tr.list:nth-child(6n+4)    { background-color:#fff; }
/*
tr.list:nth-child(even)   { background-color:#fff; }
*/
th.numeric {
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #CCCCCC;
}

td.numeric {
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #DDDDDD;
}